pillow
pymupdf
python-docx
python-pptx
openpyxl
odfpy
beautifulsoup4
extract-msg
py7zr
rarfile
chardet
blake3
streamlit
pandas
numpy
scikit-learn
sqlite-utils
watchdog
python-magic-bin; platform_system == "Windows"
python-magic; platform_system != "Windows"
tqdm
PySide6


fastapi
pydantic
